<div class="task-container">  
      
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">  
      
      <table formArrayName="quantities">  
        <tr>  
          <th colspan="2">Add Multiple Products:</th>  
          <th width="150px"><button type="button" (click)="addQuantity()">Add More</button></th>  
        </tr>  
        <tr *ngFor="let quantity of quantities().controls; let i=index" [formGroupName]="i">  
        <td>  
            Name :
            <input type="text" formControlName="name">  
        </td>  
        <td>  
            Price :  
            <input type="text" formControlName="price" (input)="calculateTotal(i)">  
        </td>  
        <td>  
            unit :  
            <input type="text" formControlName="unit" (input)="calculateTotal(i)">  
        </td>  
          <td>  
              Discount :  
              <input type="text" formControlName="dct" (input)="calculateTotal(i)">  
          </td>  
          <td>  
            Total :  
            <input  type="text" formControlName="total" readonly>  
          </td>  
          <td>  
              <button (click)="removeQuantity(i)">Remove</button>  
          </td>  
        </tr>  
      </table>  
      
      <button type="submit">Submit</button>  
      
      Total sum : {{ calculateOverAll().totalSum  }}
      Total discount : {{ calculateOverAll().discountSum  }}
    </form>  
        
    <br/>  
  </div>  