

<!-- //for addingUp the data -->
<!-- <form class="form"  [formGroup]="userForm"  (ngSubmit)="signup()"> -->
    <form class="form" [formGroup]="forgetForm" (ngSubmit)="passreset()"> 

    <h1 ><U>Reset Password</U></h1>
    <div>
      <label for="email">Enter your Email here:</label>
      <input type="text" formControlName="email" required>
    </div>
    <div>
      <label for="otp">Enter OTP here:</label>
      <input type="number" formControlName="otp" required>
    </div>
    <div>
      <label for="password1">Password:</label>
      <input type="text" formControlName="password1" required>
    </div>
    <div>
        <label for="password2">Confirm Password:</label>
        <input type="password" formControlName="password2" required>
      </div>
      <div class="notmatch" *ngIf="passwordsDoNotMatch()">Passwords do not match.</div>
    <div class="flexible">
  
      <button class="btn ok" type="submit" [disabled]="forgetForm.invalid" >Set New Password</button>
      <button class="btn ok" type="button"  (click)="cancel()">Cancel</button>
      <!-- <button class="btn ok" type="button" (click)="gotoback()"  >Cancel</button> -->
    </div>
      
  </form>
  