<!-- <ag-grid-angular
  class="ag-theme-quartz"
  style="height: 500px;"
  [rowData]="rowData"
  [columnDefs]="colDefs">
>
</ag-grid-angular> -->

<div class="child">

  <app-ng-content>
    <h3>Card 1</h3>
  </app-ng-content>

  <app-ng-content>
    <h3>Card 2</h3>
  </app-ng-content>

  <app-ng-content>
    <h3 class="downside">Card 3</h3>

    <!-- <h3 id="downsidebyId">Card 3</h3> -->
  </app-ng-content>

  <app-ng-content>
    <h3>Card 4</h3>
  </app-ng-content>
  
 
</div>
<app-parent></app-parent>