<div class="main">

    <img  id="img3" src="https://img.freepik.com/free-photo/book-composition-with-open-book_23-2147690555.jpg?w=1380&t=st=1709540069~exp=1709540669~hmac=9c2ebc5029251c3bea76eced5c0592556992566ca76a2f6aa46018e3396257fe" alt="not">
    
    
    <div id="main3">
        <h2 id="heading">Books Store</h2>
        <p id="content3">Free books to learn
            <br> and boost your knowledge </p>
            <button id="but" (click)="login()">View Books</button>
        </div> 
        
        
        
        
        <app-temp></app-temp>
        
        
    </div>
 
    <router-outlet></router-outlet> 