<section class="img">
  <img
    src="https://images.unsplash.com/photo-1498550744921-75f79806b8a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0f6908fa5e81286213c7211276e6b3d&auto=format&fit=crop&w=1500&q=80"
    alt=""
    height="1000px"
    width="100%"
  />
</section>
<div class="main">
  <div id="main3">
    <h2 id="heading">Books Store</h2>
    <p id="content3">
      Free books to learn <br />
      and boost your knowledge
    </p>
    <button id="but" (click)="viewbook()">View Books</button>
  </div>
</div>

<router-outlet></router-outlet>
