
.aside{
    position: absolute;
    top:14vh;
    left:80vw;
    }
  
    .form{
      font-size: 1.6rem;
      margin:3vw 30vw;
    
    }
    .view{
      background-color: white;
    }
    .id_none{
      /* visibility: hidden; */
      display: none;
    }
    input{
      /* padding: 1rem; */
      font-size: 2rem;
      width:40vw;
    }
    /* #gap{
     margin: 0.6rem;
    
    } */
   .btn.ok{
   margin-right: 3vw;
   margin-top: 1.5vw;
  
    }
    .btn {
      align-items: center;
      appearance: none;
      background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
      border: 0;
      border-radius: 10px;
      box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      display: inline-flex;
      font-family: "JetBrains Mono",monospace;
      height: 35px;
      justify-content: center;
      line-height: 1;
      list-style: none;
      overflow: hidden;
      padding-left: 16px;
      padding-right: 16px;
      position: relative;
      text-align: left;
      text-decoration: none;
      transition: box-shadow .15s,transform .15s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      will-change: box-shadow,transform;
      font-size: 20px;
    }
    .btn:focus {
      box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    }
    
    .btn:hover {
      box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
      transform: translateY(-2px);
    }
    
    .btn:active {
      box-shadow: #3c4fe0 0 3px 7px inset;
      transform: translateY(2px);
    }
    .logout{
      position: absolute;
      top:20%;
      right:80%;
    }
  
    /* Add this to your component's CSS file, e.g., book.component.css */
  
  .form {
    max-width: 66vw;
    margin: 10vh 30vw;
    padding: 57px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  h1 {
    text-align: center;
    color: black;
    opacity: 0.9;
    text-shadow: 3px 3px grey
  }
  
  input {
    width: 100%;
    width:34vw;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    
  }
  .select{
    
    width: 100%;
    width:34vw;
    padding: 17px 10px ;
    margin-bottom: 10px;
    font-size: 1.5rem;
    box-sizing: border-box;
  }
  .flexible{
    display: flex;
  }
  option{
    width: 100%;
    width:34vw;
    font-size: 1.8rem;
    padding: 20px 10px ;
    margin-bottom: 10px;
    box-sizing: border-box;
  
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  button:disabled {
    background-color: #b0b0b0;
    cursor: not-allowed;
  }
  .flex{
    display: flex;
    width:15vw;
  }